transformers
accelerate
sentence-transformers
datasets
langchain
langchain-community
langchain-core
langchain-text-splitters
chromadb
faiss-cpu
streamlit
gradio
openai
pandas
matplotlib
plotly
pillow
pypdf
torch
